@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

:root {
  --black: #181818;
  --white: #ededed;
  --hover: #adadad88;
  --filler: #bbbbbb;
  --gap: 0.2rem;
  --cell-size: clamp(2.25rem, 1.5rem + 2vw, 5rem);
  --blue: #d4e8ef;
  --font-size: clamp(1.5rem, 0.75rem + 2vw, 2.75rem);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  font-family: 'Karla', Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  background: var(--white);
  color: var(--black);

  padding: calc(1.5rem + 1vw);
  font-weight: 500;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 15pt;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid var(--black);
  outline: none;
  cursor: pointer;
}

.V {
  text-decoration: underline;
}

#date {
  color: var(--filler);
  margin-left: 0.5rem;
}

#previous > a {
  margin: 0.2rem;
}

/*  */

header {
  margin-bottom: 2rem;
}

main {
  position: relative;
  height: calc(1rem + 5 * (var(--cell-size) + var(--gap)));
}

footer {
  position: relative;
}

.game-grid-container {
  position: absolute;

  display: flex;
  flex-direction: row;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap);
  background: var(--blue);
}

.game-grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
}

.game-grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--black);
  user-select: none;
}

.game-grid-cell-filler {
  background: var(--filler);
}

.game-grid-extras {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap);
  margin-left: var(--gap);
}

.game-grid-extra {
  display: flex;
  flex-direction: row;
  gap: var(--gap);

  text-align: center;
  vertical-align: middle;

  height: var(--cell-size);
  line-height: var(--cell-size);
  font-size: var(--font-size);
}

/*  */

.game-letters {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
}

.game-letters-col {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap);
  cursor: grab;
  touch-action: pinch-zoom;
}

.game-letters-col:hover,
.game-letters-col-hover {
  background: var(--hover);
}

.game-letters-letter {
  width: var(--cell-size);
  height: var(--cell-size);

  text-align: center;
  vertical-align: middle;
  font-size: var(--font-size);
  line-height: var(--cell-size);

  user-select: none;
}

.game-letters-ghost {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: var(--hover);
  pointer-events: none;
}

/* Success Modal */

.game-success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--hover);
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.game-success-modal-active {
  opacity: 1;
  pointer-events: all;
}

.game-sucess-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;

  width: min(600px, 90vw);
  transform: translate(-50%, -100vh);
  padding: 2rem;

  display: block;
  background: var(--white);
  border: 1px solid var(--black);
  box-shadow: 0 0.5rem 1rem -0.75rem var(--black);

  transition: 1s ease-in-out;
}

.game-success-modal-active .game-sucess-modal-content {
  transform: translate(-50%, -50%);
}

.game-sucess-modal-content h1 {
  margin: 1rem 0 0.25rem;
}

.game-success-share {
  margin-top: 1.5rem;
}
